@use '../utilities/extend' as extend;
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/variables';
@use '../utilities/mixin';

.agregar-fotos {
    @extend %cards-section;
    @extend %elementos-centrados;

    h2 {
        font-family: variables.$fonte-secundaria-headings;
        font-weight: bold;
    }

    .grilla-agregar-fotos {
        @extend %elementos-centrados;
    }

    .conteudo-agregar {
        @extend %elementos-centrados;
        @include mixin.borders (1px, solid, map.get(mapa.$colores, color-border), variables.$radius-large);
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
            width: 75px;
            height: 75px;
            @include mixin.borders(1px, solid, map.get(mapa.$colores, color-border), variables.$radius-large);
            transition: variables.$transicion;
            &:hover {
                cursor: pointer;
                background-color: map.get(mapa.$colores, color-bg-card-section);
            }
            &:active {
                background-color: map.get(mapa.$colores, color-bg-hover);
            }
        }
    }
}

.buscar-fotos{
    input {
        @include mixin.borders (1px, solid, map.get(mapa.$colores, color-border), variables.$radius-large);
        font-family: variables.$fonte-primaria-texto;

    }
    
    button {
        @include mixin.borders (1px, solid, map.get(mapa.$colores, color-border), variables.$radius-large);
        font-family: variables.$fonte-primaria-texto;
        &:hover {
            background-color: map.get(mapa.$colores, color-bg-hover);
        }
    }
}
