@use '../utilities/variables';
@use '../utilities/extend' as extend;
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';


.mis-historias-section {
    @extend %elementos-centrados;
    @extend %cards-section;

    h2 { 
        font-family: variables.$fonte-secundaria-headings;
        font-weight: bold;
    }

    .grilla-historias {
        @extend %elementos-centrados;
        z-index: 200;
    }

    .card-historia {
        border: 1px solid map.get(mapa.$colores, color-border);
        border-radius: variables.$radius-large;
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 290px;
        height: 340px;

        img {
            width: 100%;
            height: 200px;
            margin: 0 auto;
        }
    }

    ;

    .conteudo-card {
        border-radius: variables.$radius-large;
    }

    ;

    .boton-historias {
        border-color: map.get(mapa.$colores, color-border-boton);
        border-radius: variables.$radius-large;
        background-color: map.get(mapa.$colores, color-bg-header);
        color: map.get(mapa.$colores, color-texto-blanco);
        &:hover {
            background-color: map.get(mapa.$colores, color-boton-historias-hover);
        }
        &:active {
            background-color: map.get(mapa.$colores, color-boton-historias-active);
            color: map.get(mapa.$colores, color-texto-blanco);
        }
    }


}

;