@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

main {
  padding-top: 70px;
  margin-left: 150px;
  min-height: 100vh;
}

/* FONTES */
/* RADIUS */
/* TRANSICIONES */
.mi-header {
  height: 70px;
  background-color: #415b85;
  border-bottom: 1px solid #d2d2d2;
}
.mi-header .h1-header .a-header {
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  transition: 0.15s ease;
  color: #ededed;
}
.mi-header .h1-header .a-header:hover {
  color: rgb(68, 237, 181);
}
.mi-header .h1-header .a-header:active {
  color: rgb(168, 255, 226);
}

.header-user-info-a {
  border: 1px solid #ededed;
  border-radius: 4px;
  color: #ededed;
  transition: 0.15s ease;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}
.header-user-info-a:hover {
  color: rgb(68, 237, 181);
  border-color: rgb(68, 237, 181);
}
.header-user-info-a:active {
  color: rgb(168, 255, 226);
  border-color: rgb(168, 255, 226);
}

.img-foto-perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ededed;
  transition: 0.15s ease;
}
.img-foto-perfil:hover {
  border-color: rgb(68, 237, 181);
}

.hamburguesa {
  display: none;
  position: relative;
}

#navbarToggleExternalContent {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}

.sidebar {
  background-color: #415b85;
  border-right: 1px solid #d2d2d2;
  width: 150px;
  height: calc(100vh - 70px);
  margin-top: 70px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}
.sidebar .boton-nav-sidebar {
  color: #ededed;
  transition: 0.15s ease;
  width: 70px;
  height: 70px;
}
.sidebar .boton-nav-sidebar:hover {
  color: rgb(68, 237, 181);
  border: 1px solid rgb(68, 237, 181);
  border-radius: 4px;
  cursor: pointer;
}
.sidebar .boton-nav-sidebar:hover span {
  color: rgb(68, 237, 181);
}
.sidebar .boton-nav-sidebar:active {
  color: rgb(168, 255, 226);
  border: 1px solid rgb(168, 255, 226);
}
.sidebar .boton-nav-sidebar:active span {
  color: rgb(168, 255, 226);
}
.sidebar .boton-nav-sidebar a {
  text-decoration: none;
  color: #ededed;
  transition: 0.15s ease;
  width: 40px;
  height: 60px;
  transition: 0.15s ease;
}
.sidebar .boton-nav-sidebar a img {
  color: #ededed;
  transition: 0.15s ease;
}
.sidebar .boton-nav-sidebar a img:hover {
  color: rgb(68, 237, 181);
}
.sidebar .boton-nav-sidebar a img:active {
  color: rgb(168, 255, 226);
}
.sidebar .boton-nav-sidebar a span {
  transition: 0.15s ease;
}
.sidebar .boton-nav-sidebar a span:hover {
  color: rgb(68, 237, 181);
}

footer {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  z-index: 100;
  /*     margin-left: 150px; */
  border-top: 1px solid #d2d2d2;
  background-color: #415b85;
  color: #ededed;
}
footer p {
  margin: 0;
}
footer p a {
  text-decoration: none;
  color: #ededed;
  transition: 0.15s ease;
  font-family: "Jost", sans-serif;
}
footer p a:hover {
  color: rgb(68, 237, 181);
}
footer p a:active {
  color: rgb(168, 255, 226);
}

/*# sourceMappingURL=style.css.map */
