$colores:(
    /* TEXTOS */
    color-texto-gris: #9f9f9f,
    color-texto-blanco: #ededed,
    color-text-hover: #525252,
    color-text-important: #25282d,
    color-texto-cads-historias: #efefef,
    color-heading: #676767,

    /* CTA */
    color-accent: #9af7c4,
    color-accent-hover: rgb(68, 237, 181),
    color-accent-active: rgb(168, 255, 226),
    color-cta-secondary: #ffc685,
    color-cta-secondary-hover: #fcb058,
    color-border-boton: #25282d,

    /* BACKGROUND */
    color-bg-header: #415b85,
    color-boton-historias: #415b85,
    color-boton-historias-hover: #5d79a7,
    color-boton-historias-active: #6d8ab9,
    color-bg-body: #ffffff,
    color-bg-card-section: #ededed,
    color-bg-section: #b3c3dd,
    color-bg-hover: #eaeaea,

    /* BORDER */
    color-border: #d2d2d2
);
