
/* FONTES */
$fonte-secundaria-headings: "Noto Sans JP", sans-serif;
$fonte-terciaria-logo: "Jost", sans-serif;
$fonte-primaria-texto: "Josefin Sans", sans-serif;


/* RADIUS */
$radius-short: 2px;
$radius-medium: 4px;
$radius-large: 6px;
$radius-xlarge: 12px;


/* TRANSICIONES */
$transicion: 0.15s ease;