@media (max-width: 992px) {
    .mi-familia-section {
        .cards-familia {
            .column-hijos {
                grid-template-columns: repeat(1, 1fr);
                gap: 0.4rem;
            };
        }
    }

    .hero-sec-crear {
    width: calc(100vw  - 170px);
    };
}

@media(max-width: 577px) {

    main {
        margin-left: 0px;
    }


    .mi-familia-section {
        .cards-familia {
            .column-madre-padre {
                grid-template-columns: repeat(1, 1fr);
                gap: 0.4rem;
            };

            .column-hijos {
                grid-template-columns: repeat(1, 1fr);
                gap: 0.4rem;
            };
        }
    }

    .hero-sec-crear {
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    };
}